<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="YTS_TicketDBContext" connectionString="Data Source=120.76.195.73;Initial Catalog=NiuYuZui_TicketDB;Persist Security Info=True;User ID=sa;Password=#3edc$4rfv;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- 小径平台-景区编码 -->
    <!--景区编码-->
    <add key="service:MerCode" value="S201707001" />
    <!--终端id-->
    <add key="service:TerminalNo" value="S2017070011000623" />
    <!--密钥-->
    <add key="service:Key" value="Cong%_ratulati.onsonyo.urbreak!Butyou$aredying" />
    <!-- TaskEngine -->
    <!--同步旅行社订单：单位秒-->
    <add key="taskEngine:CreateOrderTimeInterval" value="180" />
    <!--同步OTA订单：单位秒-->
    <add key="taskEngine:CreateOTAOrderTimeInterval" value="180" />
    <!--门票入园核销：单位秒-->
    <add key="taskEngine:TicketConsumeTimeInterval" value="180" />
    <!-- TaskService -->
    <add key="taskService:ServiceName" value="牛鱼嘴定时服务" />
    <add key="taskService:DisplayName" value="牛鱼嘴定时服务" />
    <add key="taskService:Description" value="用于定时核销订单消费通知" />
    <!-- 携程 -->
    <add key="Ctrip:AccountId" value="61d68a580c9350bf" />
    <add key="Ctrip:Version" value="1.0" />
    <add key="Ctrip:AesKey" value="d2f9c80bdbaa4f9d" />
    <add key="Ctrip:AesIv" value="701e042f8402cf8c" />
    <add key="Ctrip:Key" value="e4d6d94a8891f319f69fc6328d28e29f" />
    <add key="Ctrip:Website" value="https://ttdstp.ctrip.com/api/order/notice.do" />

    <!-- 同程 -->
    <add key="TongCheng:UserId" value="9152b3b9-25fb-43cd-8d36-2955fb07bec7" />
    <add key="TongCheng:Version" value="v1.0" />
    <add key="TongCheng:UserKey" value="VPXNGVQE" />
    <add key="TongCheng:Website" value="https://ttdstp.ctrip.com/api/orderhandle.do" />

    <!-- 票务携程 -->
    <add key="TicketCtrip:UserId" value="KS1IMRSCONBRRL4KI1" />
    <add key="TicketCtrip:UserKey" value="45EA32A2-ACB8-4D82-ADFA-095788DD48E0" />
    <add key="TicketCtrip:Website" value="http://localhost:4688/api/" />

    <!-- 票务同程 -->
    <add key="TicketTongCheng:UserId" value="8DBUIQ2XZJQHYOKWYZ" />
    <add key="TicketTongCheng:UserKey" value="0B6CFEA6-39CA-4546-A0E0-799FDC62F106" />
    <add key="TicketTongCheng:Website" value="http://otawebapi.fengjing.com/api/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XJ_OrderIssuedsSoap" />
        <binding name="MobileTicketSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="XJ_OrderIssuedsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="MobileTicketSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://112.74.131.57:10003/XJ_OrderIssueds.asmx" binding="basicHttpBinding" bindingConfiguration="XJ_OrderIssuedsSoap" contract="OrderIssuedsService.XJ_OrderIssuedsSoap" name="XJ_OrderIssuedsSoap" />
      <endpoint address="http://112.74.131.57:10003/MobileTicket.asmx" binding="basicHttpBinding" bindingConfiguration="MobileTicketSoap" contract="MobileTicketService.MobileTicketSoap" name="MobileTicketSoap" />
    </client>
  </system.serviceModel>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="file" />
    </rules>
  </nlog>
</configuration>