<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="key" value="KS1IMRSCONBRRL4KI1" />
    <add key="value" value="45EA32A2-ACB8-4D82-ADFA-095788DD48E0" />
    <add key="url1" value="http://localhost:4688/api/" />
    <add key="url" value="http://120.76.195.73:54000/api/" />
    <add key="url2" value="http://otawebapi.fengjing.com/api/" />


    <!--口袋零钱支付参数配置-->
    <add key="koudailingqian:Version" value="1.0.0" />
    <add key="koudailingqian:SystemCode" value="20007" />
    <add key="koudailingqian:PartnerKey" value="cc152a4f311e4a4bbb870089ce1537c6" />
    <add key="koudailingqian:DefaultKey" value="ac126b41f1320006" />
    <add key="koudailingqian:SnNo" value="200072018121200001" />
    <add key="koudailingqian:WebSite" value="https://www.koudailingqian.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicPartnerKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>