<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>@ViewBag.Title</title>
    <link href="~/JavaScript/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/JavaScript/layui/layui.js"></script>
    <script src="~/JavaScript/common.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
