
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<div class="layui-container">
    <div class="layui-row">
        <div style="margin-top:40px; font-size:25px;color:#01AAED ">
            欢迎使用本系统
        </div>
    </div>
</div>
